@use '../abstracts' as styles;

$nav-bar-width: 409px;

.header {
  @include styles.flex($justify: space-between, $gap: styles.$size-2);
  background-color: styles.$color-bg;
  box-shadow: inset 0 -#{styles.$border-normal} 0 0 styles.$color-on-primary;
  position: relative;

  padding: styles.$size-3 styles.$size-10;

  @media (max-width: styles.$breakpoint-tablet) {
    padding: styles.$size-2-5 styles.$size-5;
  }

  @media (max-width: styles.$breakpoint-mobile) {
    padding: styles.$size-2;
  }

  &__brand {
    @include styles.flex($gap: styles.$size-1);
    text-decoration: none;
  }

  &__logo-icon {
    width: styles.$size-4;
    height: styles.$size-4;
    flex-shrink: 0;
  }

  &__title {
    margin: 0;
    font-family: styles.$font-family-primary;
    font-weight: styles.$font-weight-bold;
    font-size: styles.$font-size-headline-medium;
    color: styles.$color-on-primary;

    @media (max-width: styles.$breakpoint-tablet) {
      font-size: styles.$font-size-headline-small;
    }
  }

  &__actions-bar {
    @include styles.flex($justify: flex-end, $gap: styles.$size-4);
    flex: 1 1 auto;
  }

  &__links {
    @include styles.flex($justify: space-between, $gap: styles.$size-1, $wrap: wrap);
    flex: 0 1 $nav-bar-width;
    min-width: 0;

    @media (max-width: styles.$breakpoint-tablet) {
      display: none;
    }
  }

  &__link {
    font-family: styles.$font-family-primary;
    font-size: styles.$font-size-label-extra-large;
    font-weight: styles.$font-weight-medium;
    color: styles.$color-on-bg;
    text-decoration: none;
    white-space: nowrap;

    &--active {
      font-weight: styles.$font-weight-bold;
      color: styles.$color-on-primary;
    }
  }

  &__buttons {
    @include styles.flex($gap: styles.$size-2);
  }

  &__button--outline {
    @include styles.button-base(
      $radius: styles.$radius-small,
      $padding-y: styles.$size-1-25,
      $padding-x: styles.$size-2-5,
      $font-size: styles.$font-size-body-small
    );

    @media (max-width: styles.$breakpoint-tablet) {
      display: none;
    }
  }

  &__button--primary {
    @include styles.button-accent(
      $radius: styles.$radius-small,
      $padding-y: styles.$size-1-25,
      $padding-x: styles.$size-2-5,
      $font-size: styles.$font-size-body-small
    );

    @media (max-width: styles.$breakpoint-tablet) {
      padding: styles.$size-1 styles.$size-2;
    }

    @media (max-width: styles.$breakpoint-mobile) {
      display: none;
    }
  }

  &__button--burger {
    @include styles.button-base(
      $radius: styles.$radius-small,
      $padding-y: styles.$size-1-25,
      $padding-x: styles.$size-1
    );
    display: none;

    @media (max-width: styles.$breakpoint-tablet) {
      display: inline-flex;
    }
  }
}
