@use '../../abstracts' as styles;

html:has(dialog.dialog-backdrop[open]) {
  overflow: hidden;
}

.dialog-backdrop {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  background: transparent;
  border: none;
  padding: styles.$size-1;

  &[open] {
    @include styles.flex($direction: column, $align: safe center, $justify: safe center);
  }

  &::backdrop {
    background-color: styles.$color-backdrop;
    opacity: 0;
    transition: opacity styles.$duration-slow ease;
  }

  &--visible::backdrop {
    opacity: 1;
  }

  > * {
    flex-shrink: 0;
    opacity: 0;
    transition:
      opacity styles.$duration-slow ease,
      transform styles.$duration-slow ease;
    transform: scale(0.96) translateY(styles.$size-1);
  }

  &--visible > * {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}
